<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/stili.css"/>
    
        <style>
            .tabela-artiklov {
                border-collapse: collapse;
                border-spacing: 1;
                width: 100%;
                border: 1px solid powderblue;
                background-color: powderblue;
            }
    
            th, td {
                text-align: center;
                padding: 16px;
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <img src="/static/img/logo.png" alt="logo" width="75" height="75">
        <h2>Košarica</h2>

    <table >
        <tr>
            <th>ID</th>
            <th>Količina</th>
            <th>ID izdelka</th>
            <th>Uporabnik</th>
        </tr>
        <!-- %for (id_izdelka, ime_trgovine, ime_izdelka, firma, okus, redna_cena, teza) in vsi_izdelki: -->
        <!--<tr> -->       
            <!--<td>{{id}}</td>-->
            <!--<td>{{kolicina}}</td>-->
            <!--<td>{{ime_izdelka}}</td>-->
            <!--<td>{{uporabnik}}</td>-->
        <!--</tr>-->
        <!-- %end-->
    </table>
    </body>
</html>
