<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stili.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .tabela-artiklov {
            border-collapse: collapse;
            border-spacing: 1;
            width: 100%;
            border: 1px solid powderblue;
            background-color: powderblue;
        }

        th, td {
            text-align: center;
            padding: 16px;
            border: 1px solid black;
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body style="background-color: powderblue;">
    <nav class="navbar navbar-light" style="background-color: powderblue;">
        <div class="container">
            <a class="gumb" href="/vsi_izdelki" >Nazaj na izbiranje</a>
             <!--<a class="gumb" href="/kosarica" > Košarica </a>-->
            <a class="gumb" href="/odjava"  >Odjava</a>
        </div>                        
    </nav>
    <p style="color:rgb(255, 48, 79);">Besedilo</p>
    <img src="/static/img/logo.png" alt="logo" width="250" height="250">
    <br></br>
    <p style="color:rgb(255, 48, 79);">Besedilo</p>
    <img src="/static/img/logo.png" alt="logo" width="250" height="250">
    <br></br>
    <p style="color:rgb(255, 48, 79);">Besedilo</p>
    <img src="/static/img/logo.png" alt="logo" width="250" height="250">


</body>
</html>