<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/stili.css" />

    
</head>
<body>
<h1>Pozdravljeni v</h1>
<img src="/static/img/logo.png" alt="logo" width="450" height="450"> 
<!-- <form action="/prijava" method="post"> </form> --> 

    <form style="max-width:450px;margin:auto" action="/prijava" method="post">
        <div class="input-icons">
            <i class="fa fa-user icon">
          </i>
            <input class="input-field" 
                   type="text" 
                   placeholder="Uporabniško ime"
                   name="uime"
                   required>
        </div>
        <div class="input-icons">
            <i class="fa fa-key icon">
          </i>
            <input class="input-field" 
                   type="password"
                   placeholder="Geslo"
                   name="geslo"
                   required>
        </div>
        <div class="gumba"> 
            <input value="Prijava" type="submit"  class="gumb"/>
            <br>
            <a href='/registracija' class="gumb">
                Registracija
            </a>
        </div>
    </form>

</body>
</html>