h1 {text-align: center;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {text-align: center;}
body {
  background-color: powderblue;
}
.prijava-container *{margin:auto;}
.prijava-container{
    display: flex;
    flex-direction: column;
}


.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    color: rgb(200, 51, 73);
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}




