h1 {text-align: center;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {text-align: center;}
body {
  background-color: powderblue;
}
.prijava-container *{margin:auto;}
.prijava-container{
    display: flex;
    flex-direction: column;
}


.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    color: rgb(255, 48, 79);
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.gumba{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vodoravno{
  display: flex;
  flex-direction: row;
}

.gumb{
  background-color: rgb(255, 48, 79);
  color: white;
  border-width: 0px;
  border-radius: 6px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

h1.intro {
  color: blue;
}
.center {
  margin-left: auto; 
  margin-right: auto;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.vertical{
   display: inline-table;
   background-color: powderblue;
   height: 40px;
}

.topnav {
  overflow: hidden;
  background-color: powderblue;
}

.topnav .search-container button {
  float: center;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: rgb(255, 48, 79);
  border-radius: 6px; 
  font-size: 17px;
  border: none;
  cursor: pointer;  
}

.topnav .search-container button:hover {
  background: green;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}